<?xml version="1.0"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
  <appSettings>
    <add key="SQLConnectionString" value="Data Source=&lt;server&gt;;Initial Catalog=&lt;dbname&gt;;Persist Security Info=True;User ID=&lt;loginname&gt;;Password=&lt;pwd&gt;" />
  </appSettings>
</configuration>
